body {
    background: #f5f5f5
}

aside {
    float: left;
    background: #f5f5fd;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #4C75A3;
    border-right: 5px solid #4d4d4d;
    border-bottom: 5px solid #4d4d4d;
}

aside img {
    width:80px;
    float:left;
}

aside .logo {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;
    top: 50px;
}

aside h3 {
    margin-top: 70px;
    font-size: 25px;
}

aside ul {list-style: none;}

aside ul a {
    text-decoration: none;
}

aside ul li {
    text-decoration: none;
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
    color: #4C75A3;
}

aside ul li:hover, aside ul a:hover {
    text-decoration: none;
    transform: scale(1.10);
}

main .feature {
    float: left;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;
}

main .feature h1 {font-size: 50px; color: #000000;}
main .feature p {max-width: 400px; margin: 20px auto; color: #000000;}


main .feature {
  transform: translateY(-150%);
  animation: ani 0.5s forwards;
}

@keyframes ani {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

/* до этого версталось норм, дальше появлялись каки*/
form {
    margin-left: 32%;
    width: 500px;
    text-align: center;
}

div ul li {
    list-style: none;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 400px;
    margin: 20px 34%;
    text-align: left;
}


.alert.alert-success {
    position: initial;
}

.alert {
    --bs-alert-padding-x: 1rem;
    --bs-alert-padding-y: 1rem;
    --bs-alert-margin-bottom: 1rem;
    --bs-alert-color: inherit;
    --bs-alert-border-color: transparent;
    --bs-alert-border: 1px solid var(--bs-alert-border-color);
    --bs-alert-border-radius: 0.375rem;
    position: relative;
    padding: var(--bs-alert-padding-y) var(--bs-alert-padding-x);
    margin-bottom: var(--bs-alert-margin-bottom);
    color: var(--bs-alert-color);
    background-color: var(--bs-alert-bg);
    border: var(--bs-alert-border);
    border-radius: var(--bs-alert-border-radius);
    list-style: none;
    text-decoration: none;
    display: block;
    margin-top: 20px;
    width: 600px;
    margin: 20px 34%;
    text-align: left;
}